@import '../../../assets/mixins/mixin.scss';

.rating-content-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: em(50px);
    flex-direction: column;

    .table-wrapper
    {
       table
       {
           width: em(1000px);

           th,td
           {
               text-align: left;
           }

           .star-icon
           {
               margin: 0 3px;
           }
           .activate
           {
               color: yellowgreen;
           }
           .ratings-container{
               margin: em(14px) 0;
           }
           .trash-icon{
               border: none;
               background-color: transparent;
               margin: em(9px) 0 em(9px) em(80px);

               .icon{
                   color: red;
               }
           }
       } 
    }
}