<div class="rating-content-wrapper">
    <mat-button-toggle-group [(ngModel)]="selectedView" appearance="standard">
        <mat-button-toggle [title]="'Tabular View'" value="tableView" [checked]="isSelectedViewLoaded('tableView')">
            <mat-icon> table_chart </mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [title]="'Graphical View'" value="graphView" [checked]="isSelectedViewLoaded('graphView')">
            <mat-icon> bar_chart </mat-icon>
        </mat-button-toggle>
    </mat-button-toggle-group>

    <div [ngSwitch]="selectedView">
        <div *ngSwitchCase="'graphView'">
            <h1>Graphical View</h1>
            <bar-chart [teachersList]="dataSource"></bar-chart>
        </div>
        <div *ngSwitchDefault>
            <h1>Tabular View</h1>
            <div class="search-input-wrapper">
                <label for="searchText">
                    <mat-icon class="icon">search</mat-icon>
                </label>
                <input id="searchText" #search (keyup)="searchText = search.value" type="text" maxlength="20"
                    placeholder="Enter search text">
                <button class="clear-text" *ngIf="search.value" (click)="clearText(search)">
                    <mat-icon>cancel</mat-icon>
                </button>
            </div>
            <div class="table-wrapper mt-4">
                <table mat-table [dataSource]="dataSource | filter: searchText" class="mat-elevation-z8">
                    <ng-container matColumnDef="teacherId">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.teacherId}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="rating">
                        <th mat-header-cell *matHeaderCellDef> Overall Rating </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="row">
                                <div class="col-10">
                                    <div class="ratings-container">
                                        <span *ngFor="let val of [].constructor(5); let i = index">
                                            <i *ngIf="i < element.rating"
                                                class="bi bi-star-fill star-icon activate"></i>
                                            <i *ngIf="i >= element.rating" class="bi bi-star star-icon"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <button class="trash-icon" type="button" (click)="openDialog(element.teacherId)">
                                        <mat-icon class="icon">delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="refresh">
                        <th mat-header-cell *matHeaderCellDef>
                            <button type="button" mat-raised-button (click)="onRefresh()"
                                title="Refresh">Refresh</button>
                        </th>
                        <td mat-cell *matCellDef="let element">

                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>
    <mat-spinner *ngIf="loader.showLoader"></mat-spinner>
</div>