@import '../../../assets/mixins/mixin.scss';

.reset-form-wrapper {
    display: grid;
    width: 100%;
    height: 100%;
    background-color: #fff;
    place-items: center;

    .form-wrapper {
        position: relative;
        border: em(1px) dashed #f4f4f4;
        width: em(600px);
        height: em(500px);
        padding: em(10px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .form-group {
            margin: em(5px) 0;
        }

        .form-action-buttons{
            margin: em(20px) 0;

            button {
                margin: 0 em(5px);
            }
        }

        .msg-wrapper {
            font-size: em(12px);
            color: red;
        }
    }

}